<div class='frost-list-item-element-block {{css}}-placeholder'>
  Placeholder - {{model.label}} - {{model.id}} - LIST ITEM TYPE A
</div>
<button type="button" {{action "testBinding"}}>{{buttonText}}</button>
